.vscode
*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
!modules/swagger-codegen-cli/src/main/resources/version.properties
.project
.classpath
lib/*
build/*
generated-files/*
generated-sources/*
generated-code/*
*.swp
*.swo
target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store
packages/
.pub
.packages
.vagrant/
.vscode/

.settings

*.mustache~
*.java~
*.pm~
*.xml~
*.t~
*~
.gradle
.gradle/*
gradlew*
gradle/*

/target
/generated-files
nbactions.xml
